@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	width: 1940px;
	height: 1080px;
/*	background: red;*/
}
.hearder-main{
	width: 1920px;
	height: 120px;
	background: #252525;
	position: fixed;
	z-index: 99999;
}
.logo{
	width: 200px;
	height: 120px;
/*	background:  #F5EE22;*/
	float: left;
}
.menu{
	width: 1000px;
	height: 120px;
	float: left;
}
.menu ul{
	list-style: none;
	margin-top: 43px;
}
.menu ul li{
	display: inline-block;
	width: 200px;
	height: 30px;
/*	background: #F8F8F8;*/
	text-align: center;
	line-height: 30px;
}
.menu ul li a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 25px;
	font-family: 'Poppins', sans-serif;
}
.button{
	width: 100px;
	height: 30px;
	font-size: 20px;
	background: #EF830B;
	border: none;
	margin-top: 45px;
	margin-left: 560px;
	color: #FFFFFF;	
}
.logo img{
	padding-top: 10px;
	padding-left: 40px;
}
.container{
	width: 1940px;
	height: 350px;
	position: relative;
}
.body{
	width: 1940px;
	height: 1600px;
	background: #414040;
	padding-top: 120px;
}
.banner{
	width: 1940px;
	height: 350px;
	position: absolute;
/*	background: #EC2225;*/
}
.banner h1{
	color: #EF830B;
	font-size: 35px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	padding-top: 80px;
	width: 600px;
	margin: 0 auto
/*	z-index: 11px;*/
		
}
.banner p{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
/*	padding-left: 725px;*/
	width: 470px;
	margin: 0 auto;
	background: #EF830B;
	text-align: center;
/*	z-index: 10;*/
}
.banner p2{
	color: white;
	font-family: 'Poppins', sans-serif;
	width: 600px;
	margin: 0 auto
/*	z-index: 9;*/
}
.button2{
	width: 200px;
	height: 30px;
	font-size: 20px;
	background: #EF830B;
	border: none;
	margin-top: 10px;
	margin-left: 750px;
	color: #FFFFFF;
/*	z-index: 12px;*/
}
.button3{
	width: 210px;
	height: 30px;
	font-size: 20px;
	background: rgba(0,0,0,0.00);
	border: none;
	margin-top: 10px;
	margin-left: 0px;
	color: #FFFFFF;
/*	z-index: 13px;*/
}
.banner-img{
/*	position: absolute;*/
	width: 1940px;
	height: 350px;
	z-index: 1;
}
.container2{
	width:1940px;
	height: 415px;
/*	background: #ED0E11*/
}
.footer-main{
	width: 1940px;
	height: 200px;
	background: #252525;
}.pic1{
	width: 970px;
	height:	415px;
	float: left;
}
.button-word1{
	width: 200px;
	height: 30px;
	font-size: 20px;
	background: #EF830B;
	border: none;
	margin-top: 10px;
	margin-left: 0px;
	color: #FFFFFF;
}
.word1{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	padding-top: 150px;
	padding-left: 1100px;
}
.container3{
	width:1940px;
	height: 415px;
}
.button-footer{
	width: 210px;
	height: 30px;
	font-size: 20px;
	background: #252525;
	border: none;
	margin-top: 10px;
	margin-left: 0px;
	color: #FFFFFF;
}
.Mserver{
	margin-left: 370px;
}
.bb{
	text-align: center;
	padding-top: 30px;
}
.bb p{
	color: white;
	font-family: 'Poppins', sans-serif;
	float: right;
	padding-right: 60px;
	box-sizing: border-box;
	padding-top: 20px
}
	